$colors: (
  blue: rgb(69, 109, 200),
  blueImage: rgba(62, 113, 255, 0.46),
  blueText: rgba(81, 125, 228, 0.8),
  blueMenu: rgb(39, 68, 142),
  gray: rgba(0, 0, 0, 0.6),
  grayLighter: rgba(0, 0, 0, 0.2),
);

@function color($color) {
  @return map-get($colors, $color);
}

$transition: 0.2s;
$tablet: 750px;
$desktop: 1200px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.main {
  &__historia {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-bottom: 40px;
    text-align: center;

    @include desktop {
      top: 100px;
      margin-bottom: 140px;
    }

    &__header {
      color: color(blue);
      font-size: 20px;
      font-weight: 700;
      margin: 40px 0 20px 0;

      @include desktop {
        font-size: 30px;
      }
    }

    &__text {
      color: color(gray);

      @include desktop {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        font-size: 18px;
      }
    }

    &__opracowanie {
      color: color(blueText);
      margin-top: 40px;
    }
  }

  &__pokaz {
    height: 200px;
    margin: 20px;
    position: relative;

    @include desktop {
      height: 350px;
    }
  }
}
